.main-article
	padding 50px 0 100px
	display flex
	color colors('black-light')
	justify-content space-between
	align-items flex-end

	&__wrapper-text
		padding-right 50px
		font-size px2rem(15px)
		
		h1
			margin-bottom 20px
			font-size px2rem(50px)
			font-weight 300
		p
			margin-bottom 18px
			line-height 1.37
			&:last-of-type
				margin-bottom 0
