.header-hit-sale
	padding-top 70px
	padding-bottom 38px
	&__header
		font-size px2rem(35px)
		color colors('black-light')

.wrapper-hit-sale
	width 100%
	.owl-item
		background-color colors('white')
		border-radius 5px
		box-shadow 0 1px 3px 0 rgba(colors('shadow-item'), .26)
		.slide
			display block
			text-decoration none
			&__wrapp-good
				position relative
				display block
				overflow hidden
				min-height 273px
				border-bottom 1px solid colors('gray-2')
				.section-text
					position absolute
					top 17px
					right 0
					left 0
					bottom 0
					display flex
					flex-direction column
					font-size px2rem(12px)
					align-items flex-start
					span
						margin-bottom 6px
						padding 0 9px
						font-weight 600
						line-height px2rem(24px)
						text-transform uppercase
						color colors('white')
						background-color colors('black-dark')
				.section-img
					position absolute
					top 17px
					right 16px
					left 0
					bottom 0
					display flex
					flex-direction column
					justify-content flex-start
					align-items flex-end
					img
						margin-bottom 6px
					img.to-basket
						width 46px
						height 46px
					img.in-basket
						width 46px
						height 46px
				img.goods
					margin 19px auto 0
					width 65%
					height auto
			&__wrapp-desc
				padding 12px 22px 18px
				display block
				.hit-sale-desc
					padding-bottom 20px
					display block
					font-size px2rem(14px)
					color colors('blue')
				.hit-sale-price
					position absolute
					left 22px
					bottom 18px
					display block
					font-size px2rem(17px)
					font-weight 600
					color colors('black-2')