+b.map-container
	+e.wrapp-map
		script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A603d7f2cdbc33b6dab2cb85abfda533e3b650384866ed88af4b492a394f10f7e&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true")
	+e.wrapp-feedback-form
		.container
			block feedback-form