// Colors
$base-colors = {
	'black':                #000,
	'white':                #fff,
	'blue':                 #3990aa,
	'dark-blue':            #30454f,
	'gray-light':           #e1e1e1,
	'gray-lighter':         #e3e8eb,
	'gray-dark':            #595959,
	'dark-gray':            #6e6e6e,
	'dark':                 #373737,
	'black-light':          #171717,
	'light-gray':           #e2e2e2,
	'shadow-item':          #434343,
	'black-dark':           #292929,
	'gray-2':               #dadfe0,
	'black-2':              #474747,
	'input-outline':        #c3d1d5,
	'lazurit':              #093643,
	'politics-agree':       #9293a2,
	'politics-agree-a':     #3990ab,
	'title-feedback':       #30454f,
	'focuse-input':         #58acc6,
	'shape-blue-3':         #1e414c,
	'shape-blue-4':         #3990aa,


	// 'gray-light':           #eaeaea,
	// 'gray-lighter':         #f7f7f7,
	// 'gray-lightest':        #f1f1f1,
	// 'orange':               #f9c869,
	// 'red':                  #f86868,
	// 'blue':                 #66c7cd,
	// 'dark':                 #1a1a1a,
	// 'dark-red':             #3d3c3c
}

$brand-colors = {
	'accent': map-get($base-colors, 'blue'),
	// 'accent-hover-color': darken(map-get($base-colors, 'orange'), 10%),
	// 'accent-active-color': darken(map-get($base-colors, 'orange'), 20%),
	// // 'secondary-color': map-get($base-colors, 'yellow'),
	// 'body-color': map-get($base-colors, 'black'),
	// 'body-bg': map-get($base-colors, 'white'),
}

$colors = merge($base-colors, $brand-colors)

colors($color)
	return map-get($colors, $color)
