// font-face($font-name, $file-name, $font-name-space, $font-name-no-space, $weight = normal, $style = normal)

font-face('Open Sans', '../fonts/OpenSans/OpenSans-Light', 'Open Sans Light', 'OpenSans-Light', 300)
font-face('Open Sans', '../fonts/OpenSans/OpenSans-Regular', 'Open Sans Regular', 'OpenSans-Regular')
font-face('Open Sans', '../fonts/OpenSans/OpenSans-SemiBold', 'Open Sans SemiBold', 'OpenSans-SemiBold', 600)
