// Grid breakpoints
$grid-breakpoints = {
	'xs': 320px,
	'md': 768px,
	'xl': 1040px
}

$container-max-widths = {
	'xs': calc(100% - 40px),
	'md': calc(100% - 60px)
	'xl': 960px
}

make-container()
	margin-right auto
	margin-left auto
	display flex
	width 100%
	flex-wrap wrap

// For each breakpoint, define the maximum width of the container in a media query
make-container-max-widths($max-widths = $container-max-widths, $breakpoints = $grid-breakpoints)
	for $breakpoint, $container-max-width in $max-widths
		+media-breakpoint-up($breakpoint, $breakpoints)
			max-width $container-max-width

if $enable-grid-classes
	.container
		make-container()
		make-container-max-widths()
