// Clear the float on any element.
clearfix()
	&:after
		display table
		clear both
		content ''

// Fix no working `-webkit-text-size-adjust: 100%;` in Android.
fix-text-size-adjust()
	background-image linear-gradient(transparent, transparent)

// Set element size
size($width, $height = $width)
	width $width
	height $height

// Set margin on left & right
margin-x($margin)
	margin-left $margin
	margin-right $margin

// Set margin on top & bottom
margin-y($margin)
	margin-top $margin
	margin-bottom $margin

// Set pading on left & right
padding-x($padding)
	padding-left $padding
	padding-right $padding

// Set padding on top & bottom
padding-y($padding)
	padding-top $padding
	padding-bottom $padding

// Set one static retina image
retinaBackground($image, $ext = 'png') {
	background-image url('../images/' + $image + '.' + $ext)

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image url('../images/' + $image + '@2x.' + $ext)
	}
}

font-face($font-name, $file-name, $font-name-space, $font-name-no-space, $weight = normal, $style = normal)
	@font-face
		font-family $font-name
		src url($file-name + '.eot')
		src local($font-name-space), local($font-name-no-space),
				url($file-name + '.eot?#iefix') format('embedded-opentype'),
				url($file-name + '.woff2') format('woff2'),
				url($file-name + '.woff') format('woff'),
				url($file-name + '.ttf') format('truetype'),
				url($file-name + '.svg#' + $font-name-no-space + '') format('svg')
		font-weight $weight
		font-style $style
		font-display fallback

px2rem($px)
	// number
	if typeof($px) == 'unit'
		if unit($px) == 'rem'
			$px
		else
			unit($px / $font-size-root, 'rem')
	// string
	else
		if unit(convert(unquote($px))) == 'rem'
			convert(unquote($px))
		else
			unit(convert(unquote($px)) / $font-size-root, 'rem')

hover()
	if ($enable-hover-media-query)
		// See Media Queries Level 4: http://drafts.csswg.org/mediaqueries/#hover
		// Currently shimmed by https://github.com/twbs/mq4-hover-shim
		@media (hover: hover)
			&:hover
				{block}
	else
		&:hover
			{block}

hover-focus()
	if ($enable-hover-media-query)
		&:focus
			{block}
		+hover()
			{block}
	else
		&:focus,
		&:hover
			{block}

plain-hover-focus()
	if ($enable-hover-media-query)
		&:focus
			{block}
		+hover()
			{block}
	else
		&:focus,
		&:hover
			{block}

hover-focus-active()
	if ($enable-hover-media-query)
		&:focus,
		&:active
			{block}
		+hover()
			{block}
	else
		&:focus,
		&:active,
		&:hover
			{block}

center-h($height)
	position absolute
	top 50%
	margin-top (-($height / 2))
	height $height

center-v($width)
	position absolute
	left 50%
	margin-left (-($width / 2))
	width $width

-ae-map-serialize($map)
	$str = ''
	for $key, $value in $map
		$str = $str + $key + '=' + $value + '&'
	$str = slice($str, 0, -1)
	return $str
