// These styles are applied to a <meta> tag, which is read by MediaQuery module
.aero-mq
	font-family -ae-map-serialize($grid-breakpoints)


// These styles are applied to a <meta> tag on ui pages to help visualize project colors
.cl-base
	font-family -ae-map-serialize($base-colors)


// These styles are applied to a <meta> tag on ui pages to help visualize project colors
.cl-brand
	font-family -ae-map-serialize($brand-colors)
