extends /blocks/layout-default/layout-default

include /blocks/s-section/s-section

block head
	- var pageTitle = 'VENIAM';
	script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")

block header
	+s-section
		include /blocks/header-info/header-info
	+s-section._theme_dark-blue
		include /blocks/header-menu/header-menu

block slider
	+s-section._theme_dark-blue
		include /blocks/main-slider/main-slider

block content
	+s-section._theme_border-bottom._theme_border-top
		include /blocks/categories/categories

	+s-section
		include /blocks/main-article/main-article

	+s-section._theme_light-gray._white-border-bottom
		include /blocks/hit-sales/hit-sales

	+s-section._white-border-bottom
		include /blocks/map/map
			block feedback-form
				include /blocks/feedback-form/feedback-form

block footer
	+s-section
		include /blocks/footer/footer