extends /blocks/layout-default/layout-default

include /blocks/s-section/s-section

block head
	- var pageTitle = 'VENIAM';

block content
	.wrapper
		+s-section
			include /blocks/header-info/header-info
		+s-section._theme_dark-blue
			include /blocks/header-menu/header-menu

