.social-network
	display block
	a
		margin-right 9px
		display inline-flex
		text-decoration none
		background-color colors('white')
		border-radius 50%
		size(38px)
		img
			margin auto

	&_indent
		&_top
			margin-top 20px
		&_bottom
			margin-bottom 17px