.header-info
	padding 22px 0 20px
	display flex
	width 100%
	font-size px2rem(15px)
	justify-content space-between
	align-items center
	+media-breakpoint-down('xs')
		flex-wrap wrap

	&__feedback-box
		display flex
		justify-content space-between
		+media-breakpoint-down('xs')
			margin-top 25px
			flex-direction column
			width 100%
		.button:first-of-type
			margin-right 10px
			margin-left 60px
			+media-breakpoint-down('xs')
				margin-right 0
				margin-bottom 11px
				margin-left 0
		.button:last-of-type
			margin-left 10px
			+media-breakpoint-down('xs')
				margin-left 0

	.button-menu
		position relative
		display block
		background-color colors('dark-blue')
		border-radius 3px
		size(45px)
		+media-breakpoint-up('xl')
			display none
		span
			position absolute
			top 50%
			right 11px
			left 11px
			height 3px
			background-color colors('white')
			transition background-color 0s .3s
			transform translateY(-50%)
			&:before,
			&:after
				position absolute
				right 0
				left 0
				height 3px
				content ''
				background-color colors('white')
			&:before
				top -8px
				transition top .3s .3s, transform .3s 0s
			&:after
				bottom -8px
				transition bottom .3s .3s, transform .3s 0s
			&.is-open
				background-color transparent
				&:before
					top 0
					transform rotate(45deg)
					transition top .3s 0s, transform .3s .3s
				&:after
					bottom 0
					transform rotate(-45deg)
					transition bottom .3s 0s, transform .3s .3s


.time-work
	display flex
	justify-content space-between
	+media-breakpoint-down('xs')
		display none
	&__wrapp-icon
		position relative
		margin-top 4px
		padding-right 13px
		&:after
			position absolute
			top 0
			right 0
			width 1px
			height 25px
			content ''
			background-color rgba(colors('black'), .3)
		.icon
			size(22px)
			stroke colors('dark-blue')
			stroke-width 20
			fill colors('dark-blue')
	&__wrapp-phons
		padding-left 11px
		p
			color colors('gray-dark')
		a
			font-size px2rem(16px)
			font-weight bold
			text-decoration none
			color colors('black')
			transition color transition-time
			+hover-focus-active()
				color rgba(colors('black'), .5)
				
