include /blocks/logo/logo
include /blocks/icon/icon
include /blocks/button/button

.container
	+b.header-info

		+logo

		.button-menu.js-button-main-menu
			span

		+e.feedback-box

			+b.time-work
				+e.wrapp-icon
					+icon('icon-phone', true).icon._phone
				+e.wrapp-phons
					p С 9:00 до 18:00
					a(href="tel:+70000000000") +7 (000) 000-00-00

			+button('Перезвоните мне')._indent_right-10._indent_left-60._indent_bottom-11
			+button('Оставить заявку')._indent_left-10