.header-menu
	position relative
	z-index 50
	display flex
	width 100%
	color colors('white')
	border-top 2px solid colors('dark-blue')
	+media-breakpoint-down('xs')
		position absolute
		top 93px
		right 0
		left 0
		flex-direction column
		width 100%
		background-color colors('dark-blue')
		border-top 0
		transition transform transition-time
		transform translateX(100%)
		html.is-open &
			transform translateX(0)

	a
		font-size px2rem(15px)

	.icon-chevron-down
		size(18px)
		fill none
		stroke colors('white')
		stroke-width 2
		stroke-linecap round
		stroke-linejoin round
		transition stroke transition-time

	&__main-menu
		flex 1 1 auto
		>ul
			display flex
			justify-content space-between
			+media-breakpoint-down('xs')
				padding-y(15px)
				flex-direction column
			>li
				position relative
				padding 14px 10px 21px
				cursor pointer
				+media-breakpoint-down('xs')
					position static
					padding-x(20px)
					padding-y(15px)
				>ul
					position absolute
					top 100%
					left 0
					visibility hidden
					min-width 250px
					opacity 0
					transition opacity transition-time, transform transition-time
					+media-breakpoint-down('xs')
						top 0
						visibility visible
						min-width 100%
						// min-height calc(100vh - 93px)
						min-height 100%
						opacity 1
						transform translateX(100%)

		>ul>li.sub-menu
			padding-right 39px
			padding-left 25px
			transition background-color transition-time
			+media-breakpoint-down('xs')
				padding-x(20px)
			>a
				position relative
				+media-breakpoint-down('xs')
					display block
			.icon-chevron-down
				position absolute
				top 3px
				right -23px
				+media-breakpoint-down('xs')
					top 1px
					right 0
					transform rotate(-90deg)
			+media-breakpoint-up('xl')
				+hover-focus-active()
					background-color colors('white')
					.icon-chevron-down
						stroke colors('dark-blue')
					ul
						visibility visible
						overflow hidden
						background-color colors('white')
						border-radius 0 0 5px 5px
						opacity 1
					ul li:first-of-type
						display none
						+media-breakpoint-down('xs')
							display block

					ul li:last-of-type
						padding-bottom 4px
						border-bottom none
					>a
						position relative
						color colors('dark-blue')

		html.is-open &>ul>li.sub-menu.is-open>ul
			transform translateY(0)
			background-color colors('dark-blue')
			+media-breakpoint-down('xs')
				padding-y(15px)
				li
					background-color colors('dark-blue')
				a
					color colors('white')
				li:first-of-type a
					padding-left 45px
				li:first-of-type a .icon-chevron-down
					top 17px
					right auto
					left 10px
					transform rotate(90deg)

		>ul>li>a
			line-height px2rem(20px)
			text-decoration none
			color colors('white')
			transition color transition-time
		>ul>li
			+hover-focus-active()
				>a
					color colors('blue')

		>ul>li.sub-menu ul li
			position relative
			border-bottom 1px solid rgba(colors('black'), .3)
			+media-breakpoint-down('xs')
				border-bottom none
			&:before
				position absolute
				top -1px
				right 0
				left 0
				bottom -1px
				content ''
				background-color transparent
				transition background-color transition-time
			+hover-focus-active()
				&:before
					background-color colors('blue')
			+media-breakpoint-down('xs')
				+hover-focus-active()
					&:before
						background-color transparent

		>ul>li.sub-menu ul a
			position relative
			z-index 1
			padding-x(15px)
			display block
			line-height px2rem(38px)
			text-decoration none
			color colors('dark-blue')
			transition color transition-time
			+media-breakpoint-down('xs')
				line-height px2rem(50px)
			+hover-focus-active()
				color colors('white')
			+media-breakpoint-down('xs')
				+hover-focus-active()
					color colors('blue')

	// extra-menu
	&__extra-menu
		position relative
		flex-shrink 0
		width 60px
		background-color colors('dark-blue')
		+media-breakpoint-down('xs')
			display flex
			width 100%
			justify-content flex-end

	.menu-button
		position relative
		width 100%
		height 100%
		background-color colors('white')
		+media-breakpoint-down('xs')
			margin-right 20px
			width 60px
			height 50px
		span
			position absolute
			top 50%
			right 20px
			left 20px
			display block
			height 3px
			background-color colors('dark-blue')
			transform translateY(-50%)
			&:before,
			&:after
				position absolute
				right 0
				left 0
				height 3px
				content ''
				background-color colors('dark-blue')
			&:before
				top -7px
			&:after
				bottom -7px
		ul
			position absolute
			top 100%
			right 0
			visibility hidden
			overflow hidden
			min-width 250px
			background-color colors('white')
			border-radius 0 0 5px 5px
			opacity 0
			transition opacity transition-time

			+media-breakpoint-down('xs')
				margin-right -20px
				padding-y(15px)
				display none
				visibility visible
				min-width 100vw
				background-color colors('dark-blue')
				border-radius 0
				opacity 1
			li
				position relative
				border-bottom 1px solid rgba(colors('black'), .3)
				+media-breakpoint-down('xs')
					border-bottom none
				&:last-of-type
					padding-bottom 4px
					border-bottom none
				&:before
					position absolute
					top -1px
					right 0
					left 0
					bottom -1px
					content ''
					background-color transparent
					transition background-color transition-time
		ul li
			+hover-focus-active()
				&:before
					background-color colors('blue')
			a
				position relative
				z-index 1
				padding-x(15px)
				display block
				line-height px2rem(38px)
				text-decoration none
				color colors('dark-blue')
				transition color transition-time
				+media-breakpoint-down('xs')
					padding-x(20px)
					line-height px2rem(50px)
					color colors('white')
				+hover-focus-active()
					color colors('white')
		+media-breakpoint-up('xl')
			&:hover
				ul
					visibility visible
					opacity 1

